<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>书店中有大把的书籍关于天文，地理，菜谱，科技，管理，却找不到一本关于如何做个good uncle.
于是就有了这本书。
我在探寻孩子内心世界时候，也在回想我自己的童年，了解自己，我的父母和家人。
做个good uncle，其难度要比做个好爸爸小很多，因为：爸爸是一家之主，总是装做威严的样子，让孩子害怕。uncle不一样，不用天天孩子喂食，换尿布...
所以做个good uncle，不会太困难。

uncle帮着带小孩的好处

   * 给家长暂时的解放出来 可以休息一下，或者反思一下日常带小孩中的好习惯与坏习惯，如果一直忙于日常事务，很难有时间有精力反思
   * 孩子可以多一个伙伴    “利益”于独生子女计划，现在孩子能找到的小伙伴越来越少，整天面对着爸爸妈妈爷爷奶奶这些大家长，腻烦得很，偶有uncle带着游玩，可以调解一下气氛，当然，如果是uncle能一下带着几个孩子让孩子们自由玩耍更好
   * uncle可以在带孩子中找到乐趣，学习如何带孩子 孩子的解决问题问题能力非常有效，他们不会拐弯抹角，他们能看到世界的本源，我们成人都迷失在这个世界中，孩子能让我们找到最简单的快乐

谁适合读这本书
man who love child.
想成为good uncle的人,Uncle,当然，如果是Aunt也同样合适。
立志成为好父亲，但目前还没有孩子，无经验的人，可以提前体验下当个good uncle。看看身边有没有自己的兄弟姐妹有小孩，可以先体验下。

意见

如果对书中的观点有不同意见，也可以邮件给作者chun@gooduncle.org
新浪微博:  @gooduncle    http://t.sina.com.cn/gooduncle
欢迎访问作者的幼儿教育博客 http://gooduncle.org
</string>
		<key>title</key>
		<string>The Journey Begins</string>
	</dict>
	<dict>
		<key>content</key>
		<string>说到做uncle，我在8岁左右就已经是uncle了，但直到豌豆的出生，我在意识到：我当uncle了。
我没有自己想象的那么忙碌，所以，我会隔周抽出时间来看你，当然，我是很少带礼物给你。（嗯，吝啬的uncle）并且，有时我过来，还会吃你的零食（：
记得上周看到你，我说，抽空会带你出去玩。
豌豆：你都不过来，怎么能带我出去玩呢？
是啊，我都没过来，开了张空头支票了，这周一定带你出去玩。
所以做个好uncle，第一条原则，就是说到做到， 不要轻易许诺，如果承诺了，就一定要做到。我们不经意的一句话，如，下周带你出去玩。小孩会期盼整个一周，如果到时没实现，是非常失望的。
如果两个成人之间约好了过几天的一块约会，但因为一人的事情耽搁了，一方提前告诉一下另一方，并且做了解释，另一方也能理解，可以改期，但对于一个幼儿的孩子，它是无法理解紧急的工作啊，它只会记得将要到来的活动，充满了期望，孩子总是在焦急的等待，如果一旦失信于孩子，你要重建信任，需要花很大的精力。
</string>
		<key>title</key>
		<string>说到做到</string>
	</dict>
	<dict>
		<key>content</key>
		<string>无条件的爱
我是你uncle，不管你是犯错，哭闹，笑，调皮，都无法改变这样点，所以，我永远不会说：hi,你要乖点我就带你出去动物园玩，你要乖点我就给你买变形金刚...
没有条件，我也不会说，期末考虑你得个A我就带你去海洋世界。带你出去玩是因为，我是你uncle,你是我侄女，我爱你，并不是因为你考试怎么样，脾气怎么样，长相怎么样。
孩子很依赖大人，很多时候，我们期望什么，她就会倾向于我们期望的。
如果我要求她乖点，听话，才带她出去，她会表现的乖点，注意啊，表现的乖，和真正的乖是两码事，比如，在幼儿园，豌豆是个老师眼中很乖的孩子，但在家里，可是个小霸王。

我只会说：豌豆，你这会愿意出去玩吗？我带你出去玩。趁现在uncle还没有老去，还能够抱得动你。

拒绝溺爱－不要一味同意

现在因为孩子太少了，很容易，家长会宠爱或者溺爱孩子，孩子的要求一个接一个，想要什么什么，一味答应，很容易惯坏孩子。
做个好uncle，不是一味的对你说：好，同意。
有时候，
1.我会和你平和的讨论 
当你说：我要这个那个，还有另外一个。 
先玩一个吧
2.正常的拒绝 
uncle，我要一头大象。 
嗯，冰箱里放不下吧。咱不要。
溺爱孩子，短期来看是个皆大欢喜的局面，沉浸在溺爱中的孩子，很快乐，家长也很受孩子喜欢。但是，过于溺爱，比如，孩子自己的能力已经到了可以自己吃饭时候，仍然喂食，效率是提高了。但一个接受喂食的孩子肯定是痛苦的，而且是心理上无法长大的孩子，因为它连基本的生活都得依靠家人。
</string>
		<key>title</key>
		<string>无条件的爱,并且,拒绝溺爱</string>
	</dict>
	<dict>
		<key>content</key>
		<string>在家长对孩子的要求一致环境下成长的孩子，本身的安全感会建立的比较牢固。
如，爸爸妈妈允许孩子每天是1小袋零食，爷爷奶奶不限制孩子的零食，而在白天，孩子大部分是由爷爷奶奶带，孩子在宽松的政策下就有可能吃很多零食，而且在爸爸妈妈面前隐瞒这件事。而养成说谎的习惯。而这个习惯养成的原因，很简单，不一致。在这个不一致中，孩子有了那寻租的空间。
而做为一个uncle,有时候可能不了解家里的一些习惯，需要通过和孩子父母的交流了解家中的一些规矩，避免出现不一致。当出现冲突时候，了解父母的一些习惯的原因，当然，如果有认为父母习惯中有不合理的地方，可以指出来，让父母来重新考虑自己的方法是否有利于孩子。
最了解你的，是你的爸妈。
当看到你的行为有问题时候，比如，你不爱和其他小朋友一块玩。
和你爸妈讨论这个问题，并了解形成的原因，比如是因为之前你其他小朋友打架，还是因为家长就一直交待：其他小朋友会欺负你，不要和他们玩。长期的错误导向引起孩子的行为问题。
首先，家长要有个共识，才可以给孩子意见，如果爸爸要求这样做，妈妈要求那样做，uncle要求另外的做法，孩子将完全不知道怎样做。
</string>
		<key>title</key>
		<string>听从你爸妈的意见</string>
	</dict>
	<dict>
		<key>content</key>
		<string>孩子的哭闹，是正常的现象，可能是想买的玩具没有拿到，或者一些要求没有满足。
遇到这种情况，有些家长会威胁说：你再哭，再哭，我就打你，让警察带走你，让坏人带走你，把你关门外，丢掉你，喂老虎。反正他们不会好好的听孩子表达一下。哭也是一种情绪的正常的宣泄。
孩子的正常的情绪需要表达出来，不管是快乐还是难受，都要通过正常的渠道在难过时候，不允许，威协她，会压抑她的情绪，偶尔发生没关系，长期这样会产生心理疾病。让孩子不善于表达自己的内心感受。
了解孩子哭闹的原因，耐心的倾听。
</string>
		<key>title</key>
		<string>了解孩子哭闹的原因</string>
	</dict>
	<dict>
		<key>content</key>
		<string>我的爸爸从未打过我，就算我做错事，只会说说我，让我以后得注意，不会责骂我。
我小时候也不害怕我的爸妈，长大了更加敬重他们，因为，他们从小就尊重我，哪怕当我是个小孩时我是多么的弱小。
孩子的身体和意识很弱小，我不希望看到家长打骂你，因为那样的话，孩子会害怕犯错误，害怕家长，她会觉得只有什么事情不做，才是安全的，因为做事难免犯错。或者是犯错之后，害怕惩罚，不敢承认错误，甚至撒谎。
所以uncle会强烈建议你爸妈不要打你骂你。如果爸妈打你，你可以电话给我，我告诉我uncle，也就是爷爷，让爷爷教训你爸爸。
</string>
		<key>title</key>
		<string>责骂与打屁屁</string>
	</dict>
	<dict>
		<key>content</key>
		<string>我有时也会犯错误，在豌豆面前。
说说关于馄饨和面的故事。
上次去动物园，中午时候就在外面小店吃面条和馄饨。我点了一碗面条和一碗馄饨。我吃面，豌豆吃馄饨，馄饨是装在大碗的，上来时候，豌豆要了个小碗，从大碗里面盛了几只到小碗，我吃面条，吃了一半时候，我觉得面不好吃，
就问：我能盛一些馄饨到面碗里我吃吗？
好啊。
吃了些馄饨，觉得味道不错。
又问：能再盛一些吗？
你怎么不吃面，吃馄饨啊？
面不好吃。
让你拿个小碗，你看，浪费了吧。。。。。。
以上省略 100字
我三十不到，她，三岁不到。就这么着开始训我了。
我当时觉得，我是点多了。就赶紧随错误，以后我点时候注意了。
不要因为觉得孩子批评大人，就特没面子。如果孩子说正确，我们赶紧承认，并改正。
</string>
		<key>title</key>
		<string>接受孩子的批评</string>
	</dict>
	<dict>
		<key>content</key>
		<string>孩子的审美能力胜过万人，园林是居住与艺术完美结合的地方，在狭小的空间内，用各种方法，构造出一个宁静的世界，在拥挤的城市中弥足珍贵，所以我会带你去美的地方。
孩子喜欢欢快的事物，静止的园林可能开始你不喜欢，但总能发现些有趣的事物 。
网狮园里有一些金鱼，或许你会喜欢。
带上装备去游玩

出门前准备一些东西
天气情况
孩子是否晕车。交通工具
夏天时候：花露水或风油精
饮料：是否爱用自己的奶瓶，杯子。喜欢什么饮料，比如带上几瓶爽歪歪。能否喝冰镇饮料。
饮食：准备一些常吃的零食。外面用餐能否吃辣。
最后但不是但不重要的，在豌豆身上挂上一个“紧急联络单”上面写上 我的姓名电话，家长姓名电话。家庭住址。万一走散了，可以向陌生人求助。
我和豌豆出去游玩时候，通常会保持她在我视线范围内。
在游乐场，买票的窗口和游乐设备不在一块，我宁愿和豌豆多走一段路，也要把孩子带在身边，也不愿意她离开我的视线。
</string>
		<key>title</key>
		<string>带你去园林及美丽的地方</string>
	</dict>
	<dict>
		<key>content</key>
		<string>了解幼儿教育知识,这是我的good uncle参考书，但不一定适合每个人。
看一些幼儿教育书籍，然后仔细思考，是否合适，小心实践，再调整。就像软件开发中的敏捷方法，根据实际的项目需求而不断的优化。
有些理论用在26个月的孩子身上合适34个月大的孩子就不一定合适，孩子在成长，理论也需要不断更新。
不要盲目相信幼儿教育书（包括我这本（： 因为每个小孩都是不同的。
我的一些观念，部分来自我的家人，一部分来自书籍，一些来自我和豌豆的游玩中

参考书籍

 爱和自由
作者 : 孙瑞雪
出版社 : 新蕾出版社

不要用爱控制我
作者 : Patricia Evans
出版社 : 京华出版社

孩子你慢慢来
作者 : 龙应台
出版社 : 文汇出版社
 
教育是没有用的
作者 : 林格
出版社 : 北京大学出版社

高效能人士的七个习惯
作者 : （美）柯维
出版社 : 中国青年出版社

花格子大象
作者 : (英)大卫·麦基(Mckee.D.)
出版社 : 少年儿童出版社

投资大师罗杰斯给宝贝女儿的12封信
作者 : （美）罗杰斯
出版社 : 中国青年出版社

少有人走的路
作者 : （美）M.斯科特.派克
出版社 : 吉林文史出版社

爱弥尔
作者 : （法）卢梭
出版社 : 天津人民出版社
   
丰子恺谈音乐
作者 : 丰子恺
出版社 : 东方出版社

《父与子》全集
作者 : （德）卜劳恩
出版社 : 江苏人民出版社
   
 夏洛的网(英汉双语珍藏本)
作者 : (美)E·B·怀特
出版社 : 上海译文出版社


我所欠缺的
实践
实践出真知，我的带小孩经历还太少，有些想法可能不太成熟，不切实际。</string>
		<key>title</key>
		<string>有用的资源</string>
	</dict>
</array>
</plist>
